/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

/* Variables */
:root {
	--font-family: "Montserrat", sans-serif;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #f4f4f4;
	--primary-color: #b2005b;
	--secondary-color: #fc3a9e;
	--primary-shadow: #8b8eaf;
	--secondary-shadow: #a17a69;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
/* Variables end */

html {
	scroll-behavior: smooth;
}

/* CSS Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 2px solid red; */
}

ul {
	list-style-type: none;
}

body {
	font-family: var(--font-family);
}

/* CSS Resets end */

/* Navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	padding: 0rem 1.5rem;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--bg-color);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
	color: var(--primary-color);
}

nav a {
	color: var(--primary-color);
	transition: var(--transition);
	text-decoration: none;
}
nav a:hover {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}

nav ul {
	display: flex;
	gap: 1.9rem;
}

nav ul li {
	font-weight: var(--bold-font);
}

.burger-menu {
	/* color: var(--primary-color);
	font-size: 5rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: none; */
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}

.icon-mobile-nav {
	color: var(--primary-color);
	/* font-size: 5rem; */
	height: 4.8rem;
	width: 4.8rem;
}
/* Navbar ends */

/* Section Header */
.header {
	background-image: url(../images/Banner5-min.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.header h4 {
	margin-top: 0;
	margin-bottom: 20px;
	/* color: #555; */
	font-size: 150%;
	word-spacing: 4px;
	letter-spacing: 1px;
	font-weight: 300;
	/* text-transform: uppercase; */
}

.text-box {
	position: absolute;
	top: 50%;
	left: 5%;
	text-align: justify;
}

/* Section Header ends */

/* More about */
.more-about {
	background-color: var(--bg-color);
	padding: 1rem 6rem;
}

.more-about h2 {
	margin-bottom: var(--bottom-margin);
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.more-about p {
	line-height: var(--line-height);
	padding: 0.4rem;
	color: #555;
	text-align: justify;
}
/* More about ends */

/* Skills section */
.skills {
	max-width: 68.75rem;

	text-align: center;
	margin-top: 2.5rem;
}

.skill-header {
	margin-bottom: 1rem;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.skills-wrapper img {
	padding: 1.25rem;
}

.icon {
	width: 11.875rem;
	height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
	background-color: var(--bg-color);
	padding: 32px 0;
	margin-top: 2rem;
}

.project-pic {
	width: 65%;
	height: 60%;
}

.projects-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-title {
	text-align: center;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.project-container {
	text-align: center;
	width: 21.875rem;
	padding: 1rem;
}

.project-container p {
	padding: 0.4rem;
}

.project-title {
	margin-bottom: var(--bottom-margin);
}

.project-details {
	margin-bottom: var(--bottom-margin);
	color: #555;
}

.project-link {
	color: var(--primary-color);
	font-weight: var(--bold-font);
	transition: var(--transition);
	text-decoration: none;
}

.project-link:hover {
	color: var(--secondary-color);
	border-bottom: 2px solid;
}
/* Projects section ends */

/* Contacts section */
.contact {
	margin-top: 2rem;
}

.contact h2 {
	text-align: center;
	margin-bottom: var(--bottom-margin-2);
	letter-spacing: 1px;
	word-spacing: 2px;
}

.contact-email {
	text-align: center;
	color: var(--primary-color);
	font-weight: var(--bold-font);
}

.contact-form-container {
	max-width: 40.75rem;
	margin: 0 auto;
	padding: 0.938rem;
	border-radius: 5px;
	box-shadow: 0 3px 10px var(--primary-shadow);
}
/* Contacts section ends */

/* Social buttons */
.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
}

.socicon {
	width: 2rem;
	height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
	position: fixed;
	right: 0.5%;
	bottom: 3%;
	cursor: pointer;
}

.up-arrow {
	width: 3rem;
	height: 3rem;
}

/* Scroll to top button ends */

/* Footer section */
footer {
	background-color: var(--bg-color);
	padding: 1.25rem;
	text-align: center;
	margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--primary-shadow);
	padding: 20px;
	margin: 10px;
}

.project-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--primary-shadow);
	padding: 20px;
	margin: 10px;
}

/* Media queries for responsiveness */
@media (min-width: 481px) and (max-width: 768px) {
	nav {
		padding: 0rem 1.5rem;
	}
	nav ul {
		/* position: fixed;
		background-color: var(--bg-color);
		flex-direction: column;
		top: 86px;
		left: 10%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in; */
		background-color: rgba(255, 255, 255, 0.6);
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);

		transition: all 0.5s ease-in;

		/* Hide navigation with display: none; */
		/* Allows NO transitions at all */
		/* display: none; */

		/* 1) Hide Navigation visually without display: none;*/
		opacity: 0;

		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;

		/* Hide it from screen readers */
		visibility: hidden;
	}

	nav ul li {
		margin: 8px;
	}

	.burger-menu {
		display: block;
	}

	nav ul.show {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.more-about {
		padding: 1rem 3.5rem;
	}

	.more-about h2 {
		text-align: center;
		letter-spacing: 1px;
		word-spacing: 2px;
	}

	.more-about p {
		text-align: justify;
		line-height: 1rem;
	}

	.icon {
		width: 5.875rem;
		height: 5.25rem;
	}

	.projects-container {
		flex-direction: column;
	}

	.project-container {
		width: 20.875rem;
	}

	.contact-form-container {
		max-width: 23.75rem;
	}

	.copy {
		font-size: 0.6rem;
	}
}

@media (min-width: 319px) and (max-width: 480px) {
	nav {
		padding: 0rem 1.5rem;
	}
	nav ul {
		/* position: fixed;
		background-color: var(--bg-color);
		flex-direction: column;
		top: 86px;
		left: 10%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in; */
		background-color: rgba(255, 255, 255, 0.6);
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);

		transition: all 0.5s ease-in;

		/* Hide navigation with display: none; */
		/* Allows NO transitions at all */
		/* display: none; */

		/* 1) Hide Navigation visually without display: none;*/
		opacity: 0;

		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;

		/* Hide it from screen readers */
		visibility: hidden;
	}

	nav ul li {
		margin: 8px;
	}

	.burger-menu {
		display: block;
	}

	nav ul.show {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.header {
		background-size: cover;
		background-position: center;
		height: 90vh;
		background-attachment: fixed;
	}

	.header h4 {
		font-size: 100%;
		word-spacing: normal;
	}

	.more-about {
		padding: 1rem 2rem;
	}

	.more-about h2 {
		font-size: 1rem;
		word-spacing: normal;
	}

	.more-about p {
		text-align: justify;
		line-height: 1rem;
		font-size: 0.7rem;
	}

	.skill-header {
		font-size: 1rem;
		word-spacing: normal;
	}

	.icon {
		width: 5.875rem;
		height: 5.25rem;
	}

	.projects-container {
		flex-direction: column;
	}

	.project-container {
		width: 18rem;
	}

	.projects-title {
		font-size: 1rem;
		word-spacing: normal;
	}

	.contact-form-container {
		max-width: 17rem;
	}

	.contact h2 {
		font-size: 1rem;
		word-spacing: normal;
	}

	.contact-email {
		font-size: 0.8rem;
	}

	.copy {
		font-size: 0.5rem;
	}

	.scroll-up {
		bottom: 10%;
	}
}
